/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stinger Trial */

@font-face {
  font-family: "Stinger Trial";
  src: url("/StingerTrial-Regular.ttf") format("truetype")
  /* "../public/StingerTrial-Regular.ttf" */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}


@layer base {
  html {
    @apply h-full bg-gradient-to-br overflow-hidden from-[#FFCF55] to-[#FFA836] dark:bg-neutral-900;
  }
  /* ... */
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}